WIREGUARD_TIME_ZONE='Europe/Zurich'
PIHOLE_INTERNAL_IP=172.20.0.2 
WIREGUARD_NUMBER_OF_PEERS=3
WIREGUARD_SERVER_URL=192.168.0.52 # VM IP for in-LAN testing, replace with public IP to access from outside.